<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="/page_parts/_head"></th:block>


<body>
<th:block th:include="/page_parts/_menu"></th:block>

<div class="site-body container">

    <h3>Пользователи</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Ид пользователя</th>
            <th>Имя пользователя</th>
            <th class="button-column"></th>
        </tr>
        </thead>
        <tr th:each="user: ${users}">
            <td th:text="${user.user_id}"/>
            <td th:text="${user.user_name}"/>
            <td>
                <form action="#" th:action="@{/user/delete}" method="post">
                    <input type="hidden" name="user_id" th:value="${user.user_id}"/>
                    <input type="submit" value="Удалить пользователя" class="btn btn-danger"/>
                </form>
                <form action="#" th:action="@{/user/view}" method="post">
                    <input type="hidden" name="user_id" th:value="${user.user_id}"/>
                    <input type="submit" value="Просмотр пользователя" class="btn btn-primary"/>
                </form>
            </td>
        </tr>
    </table>
    <div align="center">
        <h2>Добавить пользователя:</h2>
        <form action="#" th:action="@{/user/save}" th:object="${new_user}" method="post">
            <label>Имя пользователя:</label>
            <input class="form-control" type="text" th:field="*{user_name}" placeholder="Имя пользователя"
                   autocomplete="off"/>
            <label>Пароль:</label>
            <input class="form-control" type="password" th:field="*{encrypted_password}" placeholder="Пароль"
                   autocomplete="off"/>
            <br>
            <input type="submit" value="Добавить пользователя" class="btn btn-success"/>
        </form>
    </div>

</div>

</body>
<th:block th:include="/page_parts/_footer"></th:block>


</html>