<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="/page_parts/_head"></th:block>

<body>
<th:block th:include="/page_parts/_menu"></th:block>


<div class="site-body container">
    <p th:text="'Ид пользователя: '+${user.user_id}"/>
    <p th:text="'Имя пользователя: '+${user.user_name}"/>
    <p th:text="'Роли пользователя: '+${user.getRole_names()}"/>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Роль</th>
            <th class="button-column"></th>
        </tr>
        </thead>
        <tr th:each="role: ${user.roles}">
            <td th:text="${role}"/>
            <td>
                <form action="#" th:action="@{/role/delete}" method="post">
                    <input type="hidden" name="role_id" th:value="${role.role_id}"/>
                    <input type="submit" value="Удалить роль" class="btn btn-danger"/>
                </form>
            </td>
        </tr>
    </table>

</div>


</body>
<th:block th:include="/page_parts/_footer"></th:block>


</html>